.plus--button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 10rem;
    bottom:0;
    position:fixed;
    z-index:150;
    border-radius: 10px 10px 0 0;
    border: 3px solid;
    border-bottom: 0;
}